[type='file'] {
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
}

.panel .panel-heading .panel-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 26px;
    text-align: center;
}

.panel-title{
    font-size: 30px;
    font-weight: bold;
    background: #4ac180;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    margin-bottom: 26px;
    text-align: center;
}
.panel-sub-title{
    font-size: 18px;
    font-weight: 400;
    text-decoration-line: underline;
    text-decoration-color: gray;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
    margin-bottom: 10px;
}

.btn-secondary{
    background-color: #6c757d!important;
    border-color: #6c757d;
}

.section-border-end{
    border-block-end: 1px dotted gray !important;
}

.member-card{
    /*padding: ;*/
}
.member-item{
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
    margin: 10px 0;
    border: whitesmoke solid 1px;
    border-radius: 5px;
    padding: 6px 10px;;
}

.nav-item{
    margin-bottom: 4PX;
}
.nav-tabs .nav-link, .nav-pills .nav-link {
    background: whitesmoke;
    margin: 0 2px;
    transition: 0.4s;
}
.tab-content>.active {
    border-radius: 5px;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 4px, rgba(0, 0, 0, 0.23) 0 2px 4px;
}

h5.form-title{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: gray;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
}
h5.form-sub-title{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: black;
}

.card > .card-body > .header-title {
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
    text-decoration-color: gray;
    text-decoration-style: dashed;
    text-underline-offset: 8px;
    margin-bottom: 10px;
}

.plus-btn{
    font-size: 24px;
    background: #1e7e34;
    border: 1px solid #1e7e34;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.4s;
}
.plus-btn:hover{
    color: #1e7e34;
    background: whitesmoke;

}
.minus-btn{
    font-size: 24px;
    background: #842029;
    border: 1px solid #842029;
    color: white;
    border-radius: 5px;
    padding: 4px 8px;
    cursor: pointer;
    transition: 0.4s;
}

.minus-btn:hover{
    color: #842029;
    background: whitesmoke;
}

a[download]{
    color: white;
    background: chocolate;
    border: 1px solid chocolate;
    padding: 2px 8px;
    border-radius: 6px;
    transition: 0.4s;
    cursor: url("../../npo/cloud_download_icon.png"), auto;
}

a[download]:hover{
    color: chocolate;
    background: whitesmoke;
    border: 1px solid chocolate;
}


a[target="_blank"]{
    color: white;
    background: lightseagreen;
    border: 1px solid lightseagreen;
    padding: 2px 8px;
    border-radius: 6px;
    transition: 0.4s;
    cursor: pointer;
}

a[target="_blank"]:hover{
    color: lightseagreen;
    background: whitesmoke;
    border: 1px solid lightseagreen;
}

._18_child ._18_plus, ._18_child ._18_minus{
    margin-top: 8px;
}
._18_child .area{
    border: 1px dashed gray;
    border-radius: 5px;
    padding: 4px 0;
    margin: 4px 0;
    transition: 0.4s;
}
._18_child .area:hover{
    background: whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
}


.mark-area{
    border: 1px dashed gray;
    border-radius: 5px;
    padding: 4px 0;
    margin: 6px 0;
    transition: 0.4s;
}
.mark-area:hover{
    background: #f5f5f54b;
    border: 1px solid darkgrey;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    /*box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;*/
}

input[fullmark]::-webkit-outer-spin-button,
input[fullmark]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[fullmark] {
    -moz-appearance: textfield;
}

.jetstream-modal{
    z-index: 999;
}

#permissions label.text-capitalize{
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-link.dropdown-toggle.arrow-none.waves-effect.nav-user{
    font-size: 16px;
}

.reg-wrapper-page {
    margin: 5.5% auto;
    max-width: 440px;
    position: relative;
}

.single-area {
    border: 1px dashed black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    background: #f4f4f4;
    transition: 1s;
}

.single-area h5 {
    padding: 12px 10px;
    margin: 5px 0;
    color: white;
    font-size: 18px;
    background: linear-gradient(to right, #2d348f, #e9ecef);
    border-radius: 5px;
}
.single-area .action-btn {
    position: absolute;
    top: 16px;
    right: 12px;
    font-size: 30px;
    padding: 7px 10px;
    border-radius: 50%;
    z-index: 990;
    transition: 0.4s;
    margin-right: 4px;
    box-shadow: rgb(14 30 37 / 12%) 0 0 4px 0, rgb(14 30 37 / 32%) 0 0 4px 0;
    cursor: pointer;
}
.action-btn:hover {
    transform: rotateZ(180deg);
}
.single-area .add-btn {
    background: #1c7430;
    color: white;
}
.single-area .minus-btn {
    background: darkred;
    color: white;
    right: 60px;
}
.bold-500{
    font-weight: 500;
}

.bg-inactive{
    background-color: #D47F02E8 !important;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
}
.bg-rejected{
    background-color: #a72828 !important;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
}
.bg-active{
    background-color: #28a745!important;
    color: white;
    border-radius: 4px;
    padding: 2px 4px;
}

.bordered-p {
    border: 1px dotted gray;
    padding: 10px 0;
}

.bordered {
    border: 1px dotted gray;
}

.hidden {
    visibility: hidden;
}

.btn-info {
    background-color: #3bc3e9 !important;
    border: 1px solid #3bc3e9 !important;
}

.bg{
    padding: 2px 6px;
    border-radius: 4px;
}


.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top{
    z-index: 999!important;
}

.blink {
    font-size: 18px;
    font-weight: bold;
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}



.admin-form-sub-header {
    padding: 12px 10px;
    margin: 5px 0;
    color: white;
    font-size: 18px;
    background: linear-gradient(to right, #2d348f, #e9ecef);
    border-radius: 5px;
}

.group-title {
    font-weight: bold;
    padding: 2px 10px;
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
    background: linear-gradient(to right, #2d348f, #e9ecef);
    border-radius: 5px;
}
